html,
body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
  display: block;
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
  padding: 10px 0;
  width: 65%;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a:hover {
  color: #00b39b;
}
.About-us {
  display: flex;
  text-decoration: none;
}
.Career {
  display: flex;
  text-decoration: none;
}
.Departments a {
  text-decoration: none;
}
.firstlogo {
  display: flex;
  justify-content: center;
}
.firsth1 {
  display: flex;
  justify-content: center;
  color: #00b39b;
  width: 65%;
}
.firstp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.PDC {
  width: 65%;
  color: #ffffff;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 3%;
  flex-wrap: wrap;
}
.Forpatients {
  width: 250px;
  height: 300px;
  background-color: #00b39b;
  border-radius: 10px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.Fordoctors {
  width: 250px;
  height: 300px;
  background-color: #3d83df;
  border-radius: 10px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.Forclinics {
  width: 250px;
  height: 300px;
  background-color: #1b2734;
  border-radius: 10px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.bfordoctors {
  background: transparent;
  color: #ffffff;
  text-decoration: underline;
  justify-self: flex-end;
}
.bforpatients {
  background: transparent;
  text-decoration: underline;
  color: rgb(255, 255, 255);
}
.bforclinics {
  background: transparent;
  color: #ffffff;
  text-decoration: underline;
}
.weare {
  color: #00b39b;
  display: flex;
  align-items: center;
}

.s4 {
  width: 100%;
  background-color: #b1ded8;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  overflow: hidden;
}
.s4 section {
  width: 50%;
  display: grid;
  grid-template-columns: auto 250px 250px;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
}
.s4 .logo-s4 {
  transform: translate(-10%, 15%);
}
.s4 .logo-s4 img {
  width: 450px;
}
.s4 section .box-element {
  background-color: white;
  border-radius: 6px;
  text-align: center;
  height: 250px;
  padding: 20px;
}
.s4 section .box-element:nth-child(2),
.s4 section .box-element:nth-child(5) {
  transform: translateY(35px);
}
.s5 {
  margin-top: 40px;
  width: 65%;
  text-align: center;
}
.titre-s5 {
  color: #00b39b;
}
.text-s5 {
  color: #747474;
}
.s6 {
  max-width: 1100px;
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65%;
}
.barcelona {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  overflow: hidden;
}
.barcelona img {
  margin: 0;
  padding: 0;
}
.barcelona p {
  color: #747474;
}
.barcelona span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px;
}
.btnbar {
  background-color: #3d83df;
  color: #ffffff;
  border-radius: 6px;
  border: none;
  width: 120px;
  height: 30px;
}

.dropdown {
  background-color: #ffffff;
  color: #747474;
  border: #c8c6c6 solid 1px;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 180px;
  box-shadow: 0px 8px 8px 8px rgba(203, 203, 203, 1);
  -webkit-box-shadow: 0px 8px 8px 8px rgba(203, 203, 203, 1);
  -moz-box-shadow: 0px 8px 8px 8px rgba(203, 203, 203, 1);
  display: none;
  position: absolute;
}
.dropdown li {
  padding: 12px 10px;
}
.dropdown li:hover {
  color: #00b39b;
  background-color: #ebe9e9;
  cursor: pointer;
}
.Departments:hover .dropdown {
  display: block;
}
